/* CSS Entry Point */

// Turn on freq used libraries
// @import 'normalize-css/normalize';
// @import 'font-awesome/scss/font-awesome';


body {
	box-sizing: border-box;
	background-color: #5dd4ff;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
}

p {
	
}